.all{
    text-align:center;
   	display: inline-block;
    position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
  	width:200px;
  	height:335px;
}

img {
	max-height: 100%;
    max-width: 100px;
}

.face{
	
	height: 135px;
}

.gifs{
	width: 200px;
	position: relative;
	margin: 0 auto 0 auto;
}

#menu{

	margin: 0 auto 0 auto;
	padding:12.5px;
 	position: absolute;
  	left: 50%;
  	top: 67.5%;
  	transform: translate(-50%, -50%);*/
  	
}