.all-container{

	//background-color:blue;


}
.container{
     margin: auto;
     padding: 22vh 0 25vh 0;
    
    
}
img {
	max-height: 100%;
  max-width: 100%;
}
.cv{
  width:100px;
  margin: 0 auto 0 auto;
}

.face{
	width:100px;
	height: 135px;
  margin: 0 auto 0 auto;
}

.portfolio{
	width: 100px;
	position: relative;
	margin: 0 auto 0 auto;
}

.menu{
	margin: 0 auto 0 auto;
	padding:12.5px;
 	position: relative;
}

.menu img{
  width:75px;
}