img{
    width:350px;
    margin: 0 auto;
    display: table-cell;
    text-align:middle;
    vertical-align: middle;
}





.imgcontainer{
  max-width: 700px;
  height:70vh;
  //background-color: blue;
  margin: 0 auto;
}

.nav{
	height:30px;
	position: relative;
  margin: 0 auto 0 auto;
  max-width: 300px;
  background-color: blue;
}
.nav img{
  display: inline-block;
  width:25px;
}
.home{
  margin:0 auto 0 auto;
  position: relative;
}

.home img{
  position:relative;
}
