.gallery{
	margin: 0 auto;
	display: inline-block;
	//display: inline-flex;
	align-items: center;
  	width: 10vw;
  	height:70vh;
}

.gallery img{
    width:30vw;
    position: center;
  	margin: 0 auto 0 auto;
}

.nav{
	display:flex;
	align-items:center;
	//height:30px;
	position: relative;
  	margin: 0 auto 0 auto;
  	//background-color: blue;
 	width:20vw;
}

.nav img{
  display: inline-block;
  width:25px;
}
.home{
  margin:0 auto 0 auto;
  position: relative;
}

.home img{
  position:relative;
}

