.profile{
	margin: auto;
	width: 30%;

}
.image{
	position: relative;
	margin: auto;
	width:100%;
}
/*h0{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	width: 6em;
	top:6em;
	background-color: white;
	font-size: 20px;
}*/
p.name{
	text-align: center;
	margin-left: 150px;
	position: absolute;
	width: 6em;
	top:22em;
	background-color: white;
	font-size: 20px;
}
p.bio{
	text-align: center;
	margin-left: 300px;
	position: absolute;
	width: 2em;
	top:25em;
	background-color: white;
	font-size: 20px;
}
p.resume{
	text-align: center;
	margin-left: 100px;
	position: absolute;
	width: 3em;
	top:25em;
	background-color: white;
	font-size: 20px;
}
